body {
	font-family: sans-serif;
	color: #333;
}

h1 {
	margin: 0.3em 0;
}

.axis path {
	opacity: 0;	
}

.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 11px;
}

#chart-wrapper {
	width: 100%;
	overflow-x: auto;
}

div.tooltip {   
  position: absolute;           
  text-align: left;           
  padding: 4px;             
  font: 12px sans-serif;        
  background: #EEE;   
  border: 1px solid #333;      
  border-radius: 2px;           
  pointer-events: none;         
}

.tooltip h2 {
	font-family: sans-serif;
	font-size: 130%;
	margin: 0 0 0 0;
}

.tooltip p.filename {
	font-size: 90%;
	margin: 0 0 0.5em 0;
	border-bottom: 1px solid #BBB;
}

.tooltip p {
	line-height: 1.1em;
	margin: 0 1px 3px 1px;
}

.tooltip-swatch {
	padding-right: 5px;
	margin: 0 2px 1px 0;
	border: 1px solid;
	color: #EEE;
}

.tooltip .total {
	font-weight: bold;
}
